body{
    font-family: Arial;
    text-align: center;
    background-color: #f0f0f0;
}

h1{
    color: green;
}

input{
    padding:10px;
}

button{
    padding:10px;
    background-color: green;
    color:white;
}

li{
    margin:10px;
    font-size:18px;
}